/*paletton base rbg three colors FF796B*/

:root {
  --body_background_color: rgb(187, 185, 241);
  --nav_background_color: rgb(76, 72, 180);
  --table_row_gradient_even_color: rgb(137, 133, 237);
  --table_row_gradient_odd_color: rgb(169, 167, 240);
  --main_text_color: white;
}

html {
    position: relative;
    min-height: 100%;
    color: var(--main_text_color);
}

body {
    margin: 0 0 100px;  /*bottom = footer height*/
    background-color: var(--body_background_color);
}

/*navbar*/
.navbar {
    background: var(--nav_background_color);
    border: none;
}
.navbar-brand {
    color: var(--main_text_color);
}
.navbar a {
    transition: all 0.5s ease-in-out;
    color: var(--main_text_color);
    background: linear-gradient(to top, var(--body_background_color) 50%,  var(--nav_background_color) 50%);
    background-size: 100% 200%;
    background-position:left top;

}
.navbar:hover a:hover {
    color: var(--nav_background_color);
    background-position:left bottom;
}

/*current module*/
.curr_module a {
    color: var(--nav_background_color);
    background: var(--body_background_color);
}
.curr_module:hover a:hover {
    background: var(--body_background_color);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

#user_greet {
    /*font-weight: bold;*/
}

.askbox_container {
    margin-top: 30vh;
}

/*checkbox size*/
.ap_checkbox {
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
     padding: 10px;
}

/*alert box*/
.alert_box {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 70vw;
    position: fixed;
    top: 40vh;
    left: 50vw;
    margin-left: -35vw;
    z-index: 10000;
}

.modal_styled {
    color: var(--nav_background_color);
    background: var(--body_background_color);
    border-color: var(--nav_background_color);
    border-radius: 0px;
}
.modal_styled .panel_styled {
    font-weight: bold;
    color: var(--nav_background_color);
    background: var(--body_background_color);
    border-color: var(--nav_background_color);
}

/*buttons*/
.btn_styled {
    padding: 6px 12px;
    background: var(--nav_background_color);
    color: var(--main_text_color);
    border: none;
    border-radius: 0px;
    transition: 0.5s ease-in-out;
}
.btn_styled:hover {
    background: var(--body_background_color);
    color: var(--nav_background_color);
    border: none;
    text-decoration: none;
}

/*aplication tables*/
.ap_table_container {

}
.ap_table {
    color: var(--main_text_color);
    width: 100%;
    border-collapse: initial;
}
.ap_table th, td {
    text-align: center;
    height: 35px;
}
.ap_table th {
    background: var(--nav_background_color);
}
.ap_table .even {
    background: linear-gradient(to left, var(--table_row_gradient_even_color) 50%,  var(--body_background_color) 50%);
    background-size: 200% 100%;
    background-position:right;
}
.ap_table .odd {
    background: linear-gradient(to left, var(--table_row_gradient_odd_color) 50%,  var(--body_background_color) 50%);
    background-size: 200% 100%;
    background-position:right;
}

.clickable_row {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.clickable_row:hover {
    color: var(--nav_background_color);
    background-position: left;
}
.clickable_row_no_href {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.clickable_row_no_href:hover {
    color: var(--nav_background_color);
    background-position: left;
}

                    /*figure out an aesthetic way to signal low quantities - coloured dots?*/
.normal_quantity {

}
.low_quantity {

}
.critical_quantity {

}
                        /*figure out a way to distinguish deliveries from warehouse releases - a green upside triangle on accept?*/
/*warehouse operations*/
.ap_table .even_accept_delivery {
    /*background-color: #ccffcc*/
}
.ap_table .odd_accept_delivery {
    /*background-color: #b3ffb3*/
}
.ap_table .even_warehouse_release {
    /*background-color: #ffcccc*/
}
.ap_table .odd_warehouse_release {
    /*background-color: #ffb3b3*/
}

/*application control*/
.ap_action_bar {
    margin-bottom: 10px;
}

.ap_radio_label {
    padding-left: 10px;
}
/*edit user password change confirmation checkbox*/
#edit_pass_change_confirmation {
    margin-right: 10px;
}

/*warehouse release horizontal modal fix*/
.horizontal_label, .horizontal_input {
    text-align: center !important;
}

/*resource description*/
.resource_description_container {
    margin: 20px 0px 0px 20px;
}

.resource_description {
    font-size: 20px;
    margin: 20px;
}
